.ui-state-active {
  background: #f7f7f7 !important;
  border: none !important;
}

.global-search-ul {
  max-height: 800px;
  min-width: 500px;
}

.card-badge-corner {
  position: absolute !important;
  top: 0;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.1rem;
  padding: 0.25em 0.6em !important;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
}
